.header {
  top: 0;
  /* Thêm các thuộc tính CSS khác để làm đẹp cho header */
  background-color: #f8f9fa; /* Ví dụ: màu nền */
  padding: 10px; /* Ví dụ: khoảng cách bên trong */
  text-align: center; /* Ví dụ: căn giữa nội dung */
}

.logo {
  width: 110px; /* Giữ nguyên kích thước logo */
  /* Thêm các thuộc tính CSS khác nếu cần */
} 